nav.navbar,
.navbar-default {
  background-color: inherit !important;
  padding: 15px 0;
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav li {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.navbar-default .navbar-nav li a > .menu-description {
  font-size: 12px;
}

.navbar-default .navbar-nav>li:not(:last-child) {
  margin-right: 138px;
}

.navbar-default .navbar-nav>li>a {
  color: inherit;
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li:first-of-type > a,
.navbar-default .navbar-nav>li:last-of-type > a {
  padding-right: 0px;
}

.navbar-default .navbar-brand {
  color: inherit;
  display: block;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: white;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: transparent;
}

.jumbotron {
  height: 100vh;
  width: 100%;
  background: url('../images/couple-1.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  margin-bottom: 0;
  padding: 10px;
  vertical-align: bottom;
}

.lg-brand {
  display: none;
}

@media(min-width:768px) {
  .lg-brand {
    display: block;
  }
  .navbar-default .navbar-brand {
    display: none;
  }
}