nav.navbar,
.navbar-default {
  background-color: white;
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  padding: 45px 20px;
}

@media(max-width:767px) {
  .navbar-default .navbar-nav>li {
    width: 100%;
  }
}

.navbar-default .navbar-nav>li>a {
  color: inherit;
  text-transform: uppercase;
}

@media(max-width:767px) {
  .navbar-default .navbar-nav>li {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .navbar-collapse {
    height: 100vh;
    border-top: none;
  }
}

.navbar-default .navbar-toggle {
  border: none;
  margin-right: 15px;
  margin-top: 21px;
  float: right;
  padding: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #747474;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #747474;
  background-color: transparent;
}

.jumbotron {
  height: 100vh;
  width: 100%;
  background: url('../images/couple-1.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  margin-bottom: 0;
  padding: 10px;
  vertical-align: bottom;
}

.navbar-default .navbar-brand img {
  max-width: 252px;
  padding-top:5px;
}