nav.navbar,
.navbar-default {
  padding: 5px 0;
  background-color: white;
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-nav {
  float: none;
  text-align: center;
}

.navbar {
  margin-bottom: 0px;
}

.container .navbar-header {
  text-align: center;
  margin: 0;
  padding: 5px 15px;
  width: 100%;
}

.navbar-nav li {
  float: none;
  display: inline-block;
  vertical-align: top;
}

@media (min-width: 768px) {
  .navbar-nav {
    padding-top: 70px;
  }
}

.navbar-default .navbar-nav li a>.menu-description {
  font-size: 12px;
}

.navbar-default .navbar-nav>li {
  width: 33%;
}

@media(max-width:768px) {
  .navbar-default .navbar-nav>li {
    width: 100%;
  }
}

.navbar-default .navbar-nav>li>a {
  color: inherit;
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li:first-of-type>a {
  padding-left: 0px;
}

.navbar-default .navbar-nav>li:last-of-type>a {
  padding-right: 0px;
}

.navbar-default .navbar-nav>li {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media(max-width:768px) {
  .navbar-default .navbar-nav>li:first-of-type>a {
    padding-left: 15px;
  }
  .navbar-default .navbar-nav>li:last-of-type>a {
    padding-right: 15px;
  }
  .navbar-default .navbar-nav>li {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .navbar-collapse {
    height: 100vh;
  }
}

.navbar-default .navbar-brand {
  color: inherit;
  display: block;
}

.navbar-default .navbar-toggle {
  border: none;
  margin-right: 0;
  margin-top: 21px;
  float: none;
  padding: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #747474;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #747474;
  background-color: transparent;
}

.jumbotron {
  height: 100vh;
  width: 100%;
  background: url('../images/couple-1.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  margin-bottom: 0;
  padding: 10px;
  vertical-align: bottom;
}

.navbar-brand {
  float: none;
}

.navbar-default .navbar-brand img {
  max-width: 215px;
  display: inline-block;
}