 /* Footer Style */

  footer {
      font-family: 'Quicksand', sans-serif;
  }

  footer a,
  footer a:hover {
      color: #88C425;
  }

  .link-box {
      text-align: center;
      padding: 20px 0;
      margin: 3px 5px;
      text-transform: uppercase;
  }

  .link-box .title {
      font-size: 15px;
      letter-spacing: 3px;
  }

  .link-box a.title {
      color: #000000;
  }

  .carousel {
    width: 100%;
	padding-bottom: 36.843%;
    position: relative;
    border-top: solid 1px lightgrey;
  }

  .carousel-inner {
    position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;

	color: white;
	font-size: 24px;
	text-align: center
  }

  .carousel-inner img {
    margin-top: 20px;
  }

  @media(min-width:768px) {
      .link-box {
          padding: 45px 26px;
      }
      .link-boxes>div:nth-child(1)>.link-box {
          border-right: solid 1px #e9e9e9;
      }
      .link-boxes>div:nth-child(3)>.link-box {
          border-left: solid 1px #e9e9e9;
      }
  }

  .carousel-indicators,
  .carousel-control {
      display: none;
  }

  @media(max-width:768px) {
      .link-box {
          border-top: 1px dotted #e9e9e9;
      }
  }

  .widget-delimiter {
      display: block;
      width: 44px;
      height: 1px;
      background: #e9e9e9;
      margin-top: 11px;
      margin-left: auto;
      margin-right: auto;
  }

  .social a {
      padding-left: 5px;
      padding-right: 5px;
      color: inherit;
  }

  /* .home-about-wrap {
      padding-top: 30px;
      border-top: 1px dotted #e9e9e9;
  } */

  .home-about {
      background: url('../images/koann-1.jpg') repeat center center;
  }

  .home-about .content {
      text-align: center;
      background-color: white;
      padding: 60px;
      margin-top: 50px;
      margin-bottom: 50px;
      position: relative;
      height: 100%;
  }

  @media(min-width:768px) {
      .home-about .content {
          padding: 60px 40px;
      }
  }